<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sportivity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".TrainerActivity"
            android:label="@string/title_activity_trainer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".NewRequestActivity"
            android:label="@string/title_activity_new_request"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".TrainingObservingActivity"
            android:label="@string/title_activity_training_observing"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:name=".WorkoutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_workout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0933160594a44b00983d5c7736e13a684d669cfe" />
    </application>

</manifest>
